body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  background: linear-gradient(
    to left top,
    rgb(175, 251, 154) 1%,
    rgb(161, 250, 143) 20%,
    rgb(132, 255, 199) 50%,
    rgb(156, 248, 255) 80%,
    rgb(154, 219, 255) 100%
  );
}

.gemPuzzle {
  user-select: none;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  height: 100%;
}

.gemPuzzle__button {
  padding: 5px;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 8px;
}
.gemPuzzle__button._active {
  background-color: greenyellow;
}
.gemPuzzle__button:hover {
  background-color: rgb(209, 255, 124);
}
.gemPuzzle__button:active {
  background-color: greenyellow;
  color: white;
}

.gemPuzzle__buttonLine {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2px;
  gap: 10px;
}

.gemPuzzle__statLine {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2px;
}

.gemPuzzle__timeBox,
.gemPuzzle__movesBox {
  display: flex;
  gap: 10px;
  padding: 2px;
}

.gemPuzzle__choiceLine {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}

.gemPuzzle__gameBox {
  background-color: rgb(130, 211, 255);
  position: relative;
}
.gemPuzzle__gameBox._active {
  background-color: rgb(0, 255, 0);
}
.gemPuzzle__gameBox._deactive {
  background-color: rgb(255, 0, 0);
}


.gemPuzzle__cell {
  box-sizing: border-box;
  border: 1px solid blue;
  background-color: rgb(255, 246, 149);
  color: blue;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  cursor: pointer;
  transition: all linear 0.2s;
}

.gemPuzzle__popupWin {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  color: white;
}
.gemPuzzle__popupWin._active {
  display: flex;
}

.gemPuzzle__popupRes {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;
  gap: 10px;
  color: white;
}
.gemPuzzle__popupRes._active {
  display: flex;
}
